.home-button{
  background-image: url('../../public/static/home.webp');
  height: 150px;
  width: 150px;
  position: absolute;
  left: 10px;
  top: 10px;
  background-size: cover;
  cursor: pointer;
}